#flex-container {
    display: flex;
}


#flex-container nav {
    order: 1;
    width: 20%;
}

#flex-container section {
    order: 2;
    width: 60%;
}



#flex-container aside {
    order: 3;
    width: 20%;
}

@media only screen and (max-width:576px) {

    #flex-container {
        display: flex;
        flex-direction: column;
    }

    #flex-container nav {
        order: 1;
        width: 100%;
    }

    #flex-container section {
        order: 2;
        width: 100%;
    }
}

@media print {

    #flex-container nav {
        display: none;
    }

    #flex-container {
        width: 95%;
        border: solid 1px red;
    }

    #flex-container section {
        width: 70%;
        border: solid 1px black;
    }

    #flex-container aside {
        border: solid 1px black;
        width: 30%;
    }
}